ion-icon{
    cursor: pointer;
}
ion-icon:hover{
    color: blue;
}

.home_navbar{
    background-color: rgb(196, 255, 235);
}

.img_logo{
    margin-right: 50px;
}

.navbar-nav.me-auto{
    background-color: coral;
//     margin-left: 50px;
    display: flex; 
    gap:  30px;
}

.btn_nav_find{
    
    display: flex;
    input{
        width: 500px;
    }
}

.icon_nav{
    background-color: brown;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
    ion-icon{
        font-size: 22px;
    }
    span{
        font-size: 15px;
    }
}
.login_user{
    background-color: chartreuse;
    display: flex;
    align-items: center;
    
//     justify-content: center;

}

.logout_user{
    display: flex;
    gap: 20px;
}
.span_logout{
    background-color: darkgoldenrod;
    display: flex;
    align-items: center;
}
